<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Laboratorio de patología</title>
  <!-- NAVIGATION -->
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <link rel="stylesheet" href="static\style.css" >
  <!--<link rel="stylesheet" href="C:\Users\Jos_r\Desktop\dep-celulas\static\style.css" >-->
  <script src="https://kit.fontawesome.com/9074998fc4.js" crossorigin="anonymous"></script>
</head>



<body>
  <div id="content">
  
  <!-- NAVIGATION -->
  <div id="nav">
       <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!--aqui va el logo-->

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Mi perfil  <i class="fas fa-user">

          </i> <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Salir <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </ul>
        
      <ul class="navbar-nav mr-auto"> <li>
        <h2 id="nav-text">Clasificación de células</h2>
      </li>
    </ul>
     

      <li class="nav-item">
        <a id="nav-text" class="nav-link" href="">Laboratorio de patología</a>
      </li>
    </div>
  </nav>
  </div>
 

<div id="desc">
 <h5>Herramienta para la clasificación de cáncer de mama. Disponible para los subtipos de carcinomas CDI y CLI </h5>
</div>

  <!--main content -->
  <div id="contenido">
  <div id="img-selector">

    <div id="txt-img-selector">
      <h2>Imagen </h2>
    </div>

    <div id="img-img-selector">
      <img src="static\celula.PNG" width="245" height="245">
    </div>

    <div id="btns-img-selector">
      <form method="post" enctype=multipart/form-data>

        <i class="far fa-file-image" id="inp">
          <input  type="file" name="file"></i>
    
        <i class="fas fa-arrow-circle-up" id="inp">
          <input type="submit" value="Analizar"></i>
      </form>
    </div>

  </div>

  <div id="img-results">
    <div id="text-resultados">
      <h2> Resultados </h2>
    </div>

    <div id="porcentajes-resultados">
      <h4> Ductal: {{ duct }} %</h4>
      <h4> Lobular: {{ lob }} % </h4>
      <div id="chart" align="center">
        <div id="number_format_chart">
        </div>
    </div>

    <div id="advertencia-resultados"> 
      <H2>{{ adv }}</H2>
    </div>
  </div>

</div>
<div id="footer">
  ESTA HERRAMIENTA ES SOLO DE SOPORTE, LA JUSTIFICACIÓN DEL REPORTE DEBE ESTAR VALIDADA POR UN ESPECIALISTA EN EL TEMA. NO PUEDE UTILIZARSE
   CON FINES DE AUTODIAGNÓSTICO.
</div>
</div>




<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {packages:['corechart']});
  google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Tipo');
      data.addColumn('number', 'Probabilidad');
      data.addRows(
        [        ['Ductal', {{ duct }}] , ['Lobular', {{ lob }} ] ]
        );

     var options = {
       title: 'Probabilidad Ducta-Lobular',
       width: 500,
       height: 300,
       legend: 'none',
       bar: {groupWidth: '95%'},
       vAxis: { gridlines: { count: 2 } }
     };

     var chart = new google.visualization.ColumnChart(document.getElementById('number_format_chart'));
     chart.draw(data, options);

    
  };
</script>

</body>

</html>